<template>
  <q-page class="flex flex-center">
    <HTable
      :data="data"
      :attributes="attributes"
      :attributesets="attributesets"
      row-key="name"
      col-key="id"
    >
    </HTable>
  </q-page>
</template>

<style>
</style>

<script>
import { HTable } from '../components/base/horizontal-table'
import attributes from '../assets/attributes'
import attributesets from '../assets/attributesets'

var data = require('../assets/family.json')

export default {
  name: 'PageIndex',
  data () {
    return {
      data,
      attributes,
      attributesets
    }
  },
  components: { HTable }
}
</script>
