.h-table-container
  border-radius $table-border-radius
  box-shadow $table-box-shadow
  position relative
  &.fullscreen
    background-color inherit

.h-table-top
  min-height 64px
  padding 8px 24px
  &:before
    content ''
    position absolute
    pointer-events none
    top 0
    right 0
    bottom 0
    left 0
    opacity .2
    transition $table-transition
  .h-table-control
    min-height 36px
    padding 8px 0
    flex-wrap wrap
.h-table-title
  font-size 20px
  letter-spacing 0.005em
  font-weight 400
.h-table-separator
  min-width 8px !important
.q-table-nodata .q-icon
  font-size 200%
  padding-right 15px

.h-table-progress
  height 0 !important
  td
    padding 0 !important
    border-bottom 1px solid transparent !important
  .q-progress
    position absolute
    height 2px
    bottom 0

//.h-table-middle
//  max-width 100%

.h-table-bottom
  min-height 48px
  padding 4px 14px 4px 24px
  &, .q-if
    font-size 12px
  .h-table-control
    min-height 24px

.h-table-control
  display flex
  align-items center

.h-table-sort-icon
  transition $table-transition
  will-change opacity, transform
  opacity 0
  font-size 120%
.h-table-sort-icon-left,
.h-table-sort-icon-center
  margin-left 4px
.h-table-sort-icon-right
  margin-right 4px

.h-table
  width 100%
  max-width 100%
  border-collapse collapse
  border-spacing 0

  thead tr
    height 56px

  th
    font-weight 500
    font-size 12px
    transition $table-transition
    user-select none
    &.sortable
      cursor pointer
      &:hover .q-table-sort-icon
        opacity .5
    &.sorted .q-table-sort-icon
      opacity 1 !important
    &.sort-desc .q-table-sort-icon
      transform rotate(180deg)

  tbody tr
    transition $table-transition
    will-change background

  th, td
    white-space nowrap
    padding 7px 24px
    position relative

  thead, td, th
    border-style solid
    border-width 0

  tbody td
    height 48px
    font-weight 400
    font-size 13px

.h-table-col-auto-width
  width 1px

.h-table-bottom-item
  margin-right 24px

.h-table-grid
  box-shadow none
  .h-table-bottom
    border-top 0
  .h-table
    height 2px
    thead
      border 0

/*
 * Separators
 */
.h-table-horizontal-separator
  thead, tbody td
    border-width 0 0 1px 0

.h-table-vertical-separator
  thead
    border-width 0 0 1px 0
  td
    border-width 0 0 0 1px
  td:first-child
    border-left 0

.h-table-cell-separator
  td
    border-width 1px
  td:first-child
    border-left 0
  td:last-child
    border-right 0

/*
 * dense size
 */

table-dense()
  .h-table-top
    min-height 40px
  .h-table-top, .q-table-bottom
    padding-left 8px
    padding-right 8px
  .h-table-bottom
    min-height 36px

  .h-table-sort-icon
    font-size 100%
  .h-table
    th, td
      padding 4px 8px
    thead tr
      height 34px
    tbody td
      height 24px

  .h-table-bottom-item
    margin-right 8px

.h-table-dense
  table-dense()

@media (max-width $breakpoint-sm-max)
  table-dense()

/*
 * On light background
 */
.h-table-bottom // @stylint ignore
  color $table-header-color
  border-top 1px solid $table-border-color

.h-table // @stylint ignore
  color $table-color
  thead, tr, th, td
    border-color $table-border-color
  th
    color $table-header-color
    &.sortable:hover, &.sorted
      color $table-color
  tbody tr
    &.selected
      background $table-selected-background
    &:hover
      background $table-hover-background

/*
 * On dark background
 */
.h-table-dark
  color $table-dark-color

  .h-table-bottom, .h-table-top
    color $table-dark-header-color
    border-top 1px solid $table-dark-border-color

  thead, tr, th, td
    border-color $table-dark-border-color
  th
    color $table-dark-header-color
    &.sortable:hover, &.sorted
      color $table-dark-color
  tbody tr
    &.selected
      background $table-dark-selected-background
    &:hover
      background $table-dark-hover-background

.h-table-image
  width 100px

.h-table-chip
  padding 5px
  border-radius 10px
  color white
  font-size 0.8em

.h-table-attr-name
  text-align right

.h-table-attr-group
  border-top 1px black solid